

<div class="row">

<legend><h3 class="text-center">1</h3></legend>


    <div class="col-md-12">
        <div class="row">
        
      <div class="col-md-2">
        <p class="text-right">版本选择</p>
      </div>
      <div class="col-md-4">
      {{type-ahead url='evaluate-web/rest/evaluate/evaluateVersion' template='' selection=item   placeholder='选择不同的版本'}}
  
      </div>
      
      <div class="col-md-2">
        <p class="text-right">资源类别</p>
      </div>
      <div class="col-md-4">
					{{view Ember.Select id="entitys" 
					  contentBinding="content"
					  selectionBinding="selectedEntityEnum"  
					  optionValuePath="content.key"  
					  optionLabelPath="content.value" 
					   }}
     </div>
    </div>
<p>   </p>
    <!--雷达图-->
        {{vbar-chart height=400 content = selectedEntity}}
        
       <p>   </p>
		<p>详细信息</p> 
      <table class="table table-hover">

                <thead>
                <tr>
	              <th>序号</th>
			      <th>维度</th>
			      <th>分值</th>
                </tr>
                </thead>
                <tbody>
                  {{#each item in selectedEntity.items}}
                  <form class="form-horizontal">
                  
                       <tr>
                          
                          <td>{{item.index}}</td>
					      <td>{{item.name}}</td>
					      <td>{{item.type}}</td>

                      </tr>
                      </from>
                  {{/each}}
                </tbody>
            </table>
    </div>
</div>