
<div class="row">
   <legend><h3 class="text-center">通信资源数据评测总览</h3></legend>
    <div class="col-md-12" role="main">
      
        <div class="row">
            <div class="col-md-4">
              {{radar-chart height=280 content=data}}
            </div>
            <div class="col-md-4">
              {{vbar-chart height=280 content=data1}}
            </div>
            <div class="col-md-4">
              {{hbar-chart height=280 content=data2}}
            </div>
        </div>
        <p/>  
        <div class="row">
            <div class="col-md-4">
              {{line-chart height=280 content=data3}}
            </div>
            <div class="col-md-4">
              {{line-chart height=280 content=data4}}
            </div>
            <div class="col-md-4">
              {{line-chart height=280 content=data5}}
            </div>
            
        </div>
    </div>

</div>