{{#each items}}

      {{#if param}}
        {{#link-to name param tagName="li" href=false}}<a {{bindAttr href="view.href"}}
                href="#"><i {{bind-attr class=icon}} "></i>&nbsp{{title}}</a>{{/link-to}}
      {{else}}
        {{#link-to name tagName="li" href=false}}<a {{bindAttr href="view.href"}}
                href="#"><i {{bind-attr class=icon}} "></i>&nbsp{{title}}</a>{{/link-to}}
                
      {{/if}}

{{/each}}