<div class="row">
    <div class="col-md-2">

     





     
      <div class="btn-group-vertical">
                <ul>
                  {{#link-to "count.index" tagName="li" href=false}}<a {{bindAttr href="view.href"}}
                          href="#">用户管理</a>{{/link-to}}
                  {{#link-to "count.index" tagName="li" href=false}}<a {{bindAttr href="view.href"}}
                          href="#">权限管理</a>{{/link-to}}
                  {{#link-to "count.index" tagName="li" href=false}}<a {{bindAttr href="view.href"}}
                          href="#">采集地址管理</a>{{/link-to}}
                  {{#link-to "count.index" tagName="li" href=false}}<a {{bindAttr href="view.href"}}
                          href="#">评测任务调度管理</a>{{/link-to}}
                  {{#link-to "count.index" tagName="li" href=false}}<a {{bindAttr href="view.href"}}
                          href="#">日志管理</a>{{/link-to}}
                  {{#link-to "system.oversee" tagName="li" href=false}}<a {{bindAttr href="view.href"}}
                          href="#">后台任务监视</a>{{/link-to}}
                 
                </ul>
            </div>
    </div>
    <div class="col-md-10">
      {{outlet loading}}
      {{outlet}}
    </div>

</div>

