<div class="row">
    <legend><h3 class="text-center">完整性评测指标管理</h3></legend>

    <div class="col-md-12">
        <div class="row">
            <div class="col-md-2">
                <p class="text-right">资源类别</p>
            </div>
            <div class="col-md-4">
              {{view Ember.Select id="entitys"
              contentBinding="content"
              selectionBinding="selectedEntityEnum"
              optionValuePath="content.key"
              optionLabelPath="content.value"
              }}
            </div>
        </div>
        <p></p>

        <table class="table table-hover">
            <thead>
            <tr>
                <th>图标</th>
                <th>是否检测</th>
                <th>属性名称</th>
                <th>资源类型</th>
            </tr>
            </thead>
            <tbody>
            {{#each row in items}}
                <form class="form-horizontal">
                    <tr>
                        <td>
                          {{#if row.isRunning}}
                              <i class="fa fa-cog fa-spin"></i>
                            {{eles}}
                              <i class="fa fa-circle"></i>
                          {{/if}}
                        </td>
                        <td>{{view Ember.Checkbox checked=row.ischeck}}</td>
                        <td>{{row.propertyName}}</td>
                        <td>{{row.typeName}}</td>
                    </tr>
                    </from>
            {{/each}}
            </tbody>
        </table>
    </div>
</div>